<!-- <p>App.Component: root component</p> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
  <a class="navbar-brand" routerLink="/">TOH</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href routerLink="/jquery" routerLinkActive="selected">jquery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/todo" routerLinkActive="selected">todo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/heroes" routerLinkActive="selected">heroes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin" routerLinkActive="selected">admin</a>
    </li>
  </ul>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>
<!-- <app-heroes></app-heroes> -->
