<!-- <p>App.Component: root component</p> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
  <a class="navbar-brand" routerLink="/">TOH</a>

  <ul class="navbar-nav hidden-xs-down d-none d-sm-flex">
    <li class="nav-item">
      <a class="nav-link" href routerLink="/jquery" routerLinkActive="selected">jquery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/todo" routerLinkActive="selected">todo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/heroes" routerLinkActive="selected">heroes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin" routerLinkActive="selected">admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href routerLink="/login" routerLinkActive="selected">login</a>
    </li>
  </ul>

  <div ngbDropdown class="d-inline-block d-sm-none" placement="bottom-right">
    <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>dropdown menu</button>
    <div ngbDropdownMenu>
      <button class="dropdown-item" routerLink="/jquery" routerLinkActive="active">jquery</button>
      <button class="dropdown-item" routerLink="/todo" routerLinkActive="active">todo</button>
      <button class="dropdown-item" routerLink="/heroes" routerLinkActive="active">heroes</button>
      <button class="dropdown-item" routerLink="/admin" routerLinkActive="active">admin</button>
      <button class="dropdown-item" routerLink="/login" routerLinkActive="active">login</button>
      <button class="dropdown-item" >logout</button>
    </div>
  </div>
</nav>



<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>
<!-- <app-heroes></app-heroes> -->
