<!--
<p>{{ 1000000 | number}}</p>
<p>{{ 10000}} 원</p>
<p>{{ 10000 | mydate: '$'}} $</p>
<p>{{ 10000 | mydate: 'yen'}} yen</p>
-->

<form #myForm="ngForm" (submit)="addTodo()">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="할일을 입력하세요." [(ngModel)]="newTodo.todo"
               name="todo" #todo="ngModel" required>
        <div [hidden]="todo.valid || !todo.touched" class="alert alert-danger">
          todo is required
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!myForm.form.valid">추가</button>
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th>완료</th>
    <th>todo</th>
    <th>생성일</th>
    <th>수정일</th>
    <th>삭제</th>
  </tr>
  </thead>
  <tbody>
  <!-- <tr *ngFor="let todo of todoList">
    <td>{{todo.isFinished ? '완료' : '미완료'}}</td>
    <td>{{todo.todo}}</td>
    <td>{{todo.created}}</td>
    <td>{{todo.updated}}</td>
    <td>
      <button class="btn btn-success btn-sm">수정</button>
      <button class="btn btn-danger btn-sm ml-1">삭제</button>
    </td>
  </tr> -->
  <ng-template ngFor let-todo [ngForOf]="todoList">
    <tr *ngIf="!todo.isEdited" [@flyInOut] = "'in'">
      <td>{{todo.isFinished ? '완료' : '미완료'}}</td>
      <td>{{todo.todo}}</td>
      <td>{{todo.created | mydate}}</td>
      <td>{{todo.updated}}</td>
      <td>
        <button class="btn btn-success btn-sm" (click)="save(todo)" >수정</button>
        <button class="btn btn-danger btn-sm ml-1" (click)="remove(todo)">삭제</button>
      </td>
    </tr>
    <tr *ngIf="todo.isEdited" >
      <td><input type="checkbox" [(ngModel)]="todo.isFinished"></td>
      <td><input [(ngModel)]="todo.todo"></td>
      <td>{{todo.created | mydate}}</td>
      <td>{{todo.updated}}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="modify(todo)">저장</button>
        <button class="btn btn-warning btn-sm ml-1" (click)="restore(todo)" >취소</button>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>
