<!--<app-hero-detail [selectedHero]="selectedHero"></app-hero-detail>

<hr *ngIf="selectedHero">-->

<router-outlet></router-outlet>

<h2>My Heroes</h2>

<ul>
  <li class="d-flex m-1" *ngFor="let hero of heroes" (click)="onSelected(hero)"
      [class.selected]="hero === selectedHero"
      routerLink="/heroes/{{hero.hero_id}}">
    <span class="bg-primary text-light p-2 rounded-left">{{hero.hero_id}}</span>
    <div class="bg-light text-dark w-50 p-2 rounded-right">{{hero.name}}</div>
  </li>
</ul>



<!--<p>
  heroes works! {{hero.hero_id}}, {{hero.name}}
</p>

<div>
  <button [disabled]="isSpecial">propery binding button</button>
</div>

<div>
  <div [class.special]="isSpecial">class binding button</div>
</div>

<div>
  <button [style.color]="isSpecial ? 'red' : 'green'">style binding button</button>
</div>

<div>
  <button (click)="onSave($event)">event binding save button</button>
</div>

<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div>-->
